<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.printers_3d">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChangeEmailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".EditPostActivity" />
        <activity android:name=".UserSettingsShowActivity" />
        <activity android:name=".MarketThreadActivity" />
        <activity android:name=".NewThreadProjectsActivity" />
        <activity android:name=".NewThreadMarketActivity" />
        <activity android:name=".ForumThreadActivity" />
        <activity android:name=".BigPictureActivity" />
        <activity android:name=".NewThreadActivity" />
        <activity android:name=".StartForumActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RemindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>